/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/

@import '../node_modules/nativescript-theme-core/css/core.css';
@import '../node_modules/nativescript-theme-core/css/blue.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/

.btn {
    font-size: 18;
}

EmojiLabel {
    background-color: rgba(14, 190, 221, 0.233);
    padding: 10;
    text-align: center;
    font-size: 20;
}

EmojiPicker {
    padding: 30;
    color: green;
    margin: 20;
}